In [36]:
import pandas as pd

dataFile = './BX-CSV-Dump/BX-Book-Ratings.csv'
data = pd.read_csv(dataFile, encoding= 'unicode_escape', sep=";", header=0, names=["user", "isbn", "rating"])

data.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6

In [37]:
bookFile = './BX-CSV-Dump/BX-Books.csv'
books = pd.read_csv(bookFile, encoding= 'unicode_escape', sep=";", header=0, error_bad_lines=False, usecols=[0,1,2], index_col=0, names=["isbn", "title", "author"])

books.head()

/var/folders/_t/c608vpj535vbvt999_gvrvbc0000gn/T/ipykernel_40744/1952387912.py:2: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv(bookFile, encoding= 'unicode_escape', sep=";", header=0, error_bad_lines=False, usecols=[0,1,2], index_col=0, names=["isbn", "title", "author"])

,title,author
isbn,,
0195153448,Classical Mythology,Mark P. O. Morford
0002005018,Clara Callan,Richard Bruce Wright
0060973129,Decision in Normandy,Carlo D'Este
0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata
0393045218,The Mummies of Urumchi,E. J. W. Barber

In [38]:
def bookMeta(isbn):
  title = books.at[isbn, "title"]
  author = books.at[isbn, "author"]
  return title, author

In [39]:
def faveBooks(user, N):
  userRatings = data[data["user"]==user]
  sortedRatings = pd.DataFrame.sort_values(userRatings,['rating'], ascending=[0])[:N]
  sortedRatings["title"] = sortedRatings["isbn"].apply(bookMeta)
  return sortedRatings

In [40]:
data = data[data["isbn"].isin(books.index)]

In [41]:
faveBooks(204622, 5)

,user,isbn,rating,title
844955,204622,0967560500,10,"(Natural Hormonal Enhancement, Rob Faigin)"
844935,204622,0671027360,10,"(Angels &amp; Demons, Dan Brown)"
844926,204622,0385504209,10,"(The Da Vinci Code, Dan Brown)"
844958,204622,097173660X,9,"(Life After School Explained, Cap &amp; Compass)"
844920,204622,0060935464,9,"(To Kill a Mockingbird, Harper Lee)"

In [42]:
usersPerISBN = data.isbn.value_counts()

In [43]:
ISBNsPerUser = data.user.value_counts()

Filtering out the number of users and books based on if they have read more than 10 books and if a book has been read more than 10 times:

In [44]:
data = data[data["isbn"].isin(usersPerISBN[usersPerISBN>10].index)]

In [45]:
data = data[data["user"].isin(ISBNsPerUser[ISBNsPerUser>10].index)]

In [46]:
userItemRatingMatrix=pd.pivot_table(data, values='rating', index=['user'], columns=['isbn'])

In [47]:
userItemRatingMatrix.head()

isbn,0002005018,0002251760,0002259834,0002558122,0006480764,000648302X,0006485200,000649840X,000651202X,0006512062,...,8845906884,8845915611,8878188212,8885989403,9074336329,9074336469,950491036X,9681500830,9681500954,9871138016
user,,,,,,,,,,,,,,,,,,,,,
8,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN