In [1]:
import pandas as pd

dataFile = './BX-CSV-Dump/BX-Book-Ratings.csv'
data = pd.read_csv(dataFile, encoding= 'unicode_escape', sep=";", header=0, names=["user", "isbn", "rating"])

data.head()

     user        isbn  rating
0  276725  034545104X       0
1  276726  0155061224       5
2  276727  0446520802       0
3  276729  052165615X       3
4  276729  0521795028       6